/* base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{ 
    list-style: none;
}

body *{
    font-family: 'Inter', sans-serif;
}

h1:hover, h2:hover, h3:hover, p:hover {
    cursor: default;
}

*::selection {
    color: white;
    background-color: rgba(133,67,231,1);
}

/* background */

body{
    background: #121214;
}

header div, section {
    background: linear-gradient(90deg, rgba(226,92,191,1) 0%, rgba(133,67,231,1) 50%, rgba(67,153,231,1) 100%);
}

/* header */

header {
    text-align: center;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: 32px auto;
    border-radius: 50%;
    display: flex;
    padding: 4px;
    animation: fromTop .7s .2s backwards;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

/* main (sections) */

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    margin-bottom: 32px;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 15px;
}

/* text */

section h1, section h2, section h3 {
    font-weight: 800;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

/* lists */

.books-list img, .authors-list img {
    border-radius: 8px;
    width: 90px;
    border: 1px solid #443e54;
}

.authors-list p {
    font-size: smaller;
    text-align: center;
    width: 90px;
}

/* transitions */

section ul li, header div {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

/* animation */

main section {
    animation: fromTop 1s backwards;
}

main section:nth-child(1) {
    animation-delay: .8;
}

main section:nth-child(2) {
    animation-delay: .5s;
}

main section:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fromTop {
    from { 
        opacity: 0;
        transform: translateY(-30px)
    }

    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from { 
        opacity: 0;
        transform: translateY(30px)
    }

    to { 
        opacity: 1;
        transform: translateY(0);
    }
}